# Python specific
**/__pycache__
**/*.pyc

db.sqlite3

# Virtual environments
venv/
.venv/
ENV/
.env

# Git
.git
.gitignore
README.md

# Ignore Docker-related files
Dockerfile*
docker-compose*
.dockerignore

# Frontend
# Using static files in backend

frontend/node_modules/
frontend/build/
frontend/dist/